<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf/org">
<metahead>
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<!--CSS読み込み-->
<link rel="stylesheet"th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"th:href="@{/css/login/login.css}">
<link rel="stylesheet" href="css/styles.css">
<!--JS読み込み-->
<script th:src="@{/webjars/jquery/jquery.min.js}"defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"defer></script>
<title>ログイン</title>
</head>
<body class="bg-light">
	<div class="text-center">
		<form method="post"th:action="@{login}"class="form-login">
			<h2>ログイン</h2>
			<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"class="text-danger">
			ログインエラーメッセージ
			</p>
			<!--ユーザー名-->
			<div class="form-group">
				<label for="userName"class="sr-only"th:text="#{userName}"></label>
				<input type="text"class="form-control"placeholder="ユーザー名"name="user"/>
			</div>
			<!--パスワード-->
			<div class="form-grop">
				<label for="password"class="sr-only"th:text="#{password}"></label>
				<input type="text"class="form-control"placeholder="パスワード"name="pass"/>
			</div>
			<input type="submit"value="ログイン"class="btn btn-primary btn-block mt-3"/>
		</form>
	</div>
</body>
</body>
</html>