<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.demo.repository.ItemsMapper">

	<!-- 作業登録 -->
	<insert id="insertTodo">
		INSERT INTO todo_items (id, user_id, item_name,
		expire_date, finished_date,
		registration_date)
		VALUES (
		#{id},
		#{userId},
		#{itemName},
		#{expireDate},
		#{finishedDate},
		#{registrationDate}
		)
	</insert>

	<!-- ユーザ情報1件取得 -->
	<select id="findOne" resultType="Item">
		SELECT *
		FROM todo_items
		WHERE
		id = #{item.id};

	</select>

	<!-- ユーザ情報複数取得 -->
	<select id="findAll" resultType="Item">
		SELECT users.user, todo_items.id, todo_items.item_name,
		todo_items.registration_date,
		todo_items.expire_date,
		todo_items.finished_date
		FROM users
		RIGHT JOIN todo_items ON users.id =
		todo_items.user_id
		<where>
			<if test="user != null">
				AND user like CONCAT('%', #{user}, '%')
			</if>
			<if test="itemName != null">
				AND item_name like CONCAT('%', #{itemName}, '%')
			</if>
		</where>
	</select>

	<!-- 修正 -->
	<update id="correction">
		UPDATE todo_items
		SET item_name = #{item.itemName},
		user_id = #{item.userId},
		expire_date =
		#{item.expireDate},
		finished_date = #{item.finishedDate},
		registration_date =
		#{item.registrationDate}
		WHERE id = #{item.id};
	</update>


	<!-- 項目削除 -->
	<delete id="deleteItem">
		DELETE FROM todo_items
		WHERE id = #{item.id};
	</delete>
</mapper>