<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.demo.repository.UsersMapper">
	
	<!-- ログインユーザー情報取得 -->
	<select id="findByUser" resultType="User">
	SELECT *
	FROM users
	WHERE user = #{user}
	</select>
	
	<!--  ユーザ名取得 -->
	<select id="findUserName" resultType="User">
	SELECT user, id FROM users
	</select>
</mapper>
	